.instituicao{
      /* Container */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 100%;

height: auto;


/* Auto layout por dentro */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
background: linear-gradient(90deg, #00c6a7, #0066cc);
color: #fff;
}

#saiba{
  border-radius: 3px !important;
  
}

.information{
  padding-bottom: 1rem;
}