.custom-nav {
  background: linear-gradient(90deg, #00c6a7, #0066cc);
}

.nav-top {
  height: 80px;
}

.solucoes-btn {
  cursor: pointer;
}

.solucoes-area {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

.solucoes-area.open {
  max-height: 600px;
}

.item {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.item p {
  margin: 0;
  font-size: 14px;
  opacity: 0.8;
}

.nav-item{
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}

.nav-item:hover{
  border-bottom: 1px solid #fff;
}